body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 25px 15px 20px;
}

.container {
  width: 300px;
  margin: auto;
  padding: 20px 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  text-align: center;
  color: #333;
}

#choose_language {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

#languageSelect {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.convert_units {
  gap: 5px;
}

.convert_units p {
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.message {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.github {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 20px;
}

.github a {
  color: #333;
  text-decoration: none;
}

.github a:hover {
  text-decoration: underline;
}

.separator {
  width: 100%;
}

.separator .inner-separator {
  height: 1px;
  background-color: #a7a7a7;
  width: 75%;
}

.icons {
  margin-top: 20px;
  gap: 0.4rem;
}

.icons .icon-separator {
  color: #a7a7a7;
}

.icons a img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 4px;
  transition: all 0.2s ease;
}

.icons a img[data-color=red]:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.icons a img[data-color=green]:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.icons a img[data-color=purple]:hover {
  background-color: rgba(255, 0, 255, 0.4);
}

.icons a img[data-color=yellow]:hover {
  background-color: rgba(255, 230, 0, 0.7);
}

#extension-version {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-area {
  gap: 10px;
}

.title-area img {
  transition: all ease .2s;
  padding: 4px;
  cursor: pointer;
}

.title-area img:hover {
  background-color: #ebebeb;
  border-radius: 20px;
}