body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 25px 15px 20px;
}

.container {
  width: 300px;
  margin: auto;
  padding: 20px 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  text-align: center;
  color: #333;
}

#choose_language {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

#languageSelect {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.switch_section {
  gap: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-5px {
  margin-bottom: 5px;
}

.switches-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switches-area .switch_section {
  justify-content: space-between !important;
  min-width: 265px;
  border-bottom: 1px solid #dddddd;
}

small {
  padding: 2px 4px;
  background-color: #e2e2e2;
  border-radius: 20px;
  cursor: help;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.message {
  text-align: center;
  margin-top: 20px;
  color: #666;
  margin-bottom: 20px;
}

.separator {
  width: 100%;
}

.separator .inner-separator {
  height: 1px;
  background-color: #a7a7a7;
  width: 75%;
}

.icons {
  margin-top: 20px;
  gap: 0.4rem;
}

.icons .icon-separator {
  color: #a7a7a7;
}

.icons a img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 4px;
  transition: all 0.2s ease;
}

.icons a img[data-color=red]:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.icons a img[data-color=green]:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.icons a img[data-color=purple]:hover {
  background-color: rgba(255, 0, 255, 0.4);
}

.icons a img[data-color=yellow]:hover {
  background-color: rgba(255, 230, 0, 0.7);
}

#extension-version {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-area {
  gap: 10px;
}

.title-area .settings-img {
  transition: all ease .2s;
  padding: 4px;
  cursor: pointer;
}

.title-area .settings-img:hover {
  background-color: #ebebeb;
  border-radius: 20px;
}

.message-area {
  text-decoration: none;
}

.message-area:hover {
  text-decoration: underline;
}

.d-none {
  display: none !important;
}

.review-banner {
  position: relative;
  width: 100%;
  height: 22px;
  background-color: rgb(177, 15, 15);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 14px;
  font-family: "Times New Roman", Georgia, "Garamond", "Courier New", serif;
}

.review-banner.top {
  padding-top: 5px;
}

.review-banner.bottom {
  padding-bottom: 5px;
}

.review-banner a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.review-banner::before,
.review-banner::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.review-banner.top::before {
  top: -10px;
  left: -10px;
}

.review-banner.top::after {
  top: -10px;
  right: -10px;
}

.review-banner.bottom::before {
  bottom: -10px;
  left: -10px;
}

.review-banner.bottom::after {
  bottom: -10px;
  right: -10px;
}

.close-area {
  width: 100%;
  display: flex;
  justify-content: end;
}

.close {
  position: relative;
  bottom: 41px;
  right: 6px;
  padding: 5px;
  text-align: end;
  cursor: pointer;
  font-size: 16px;
  color: white;
  z-index: 1000;
}

.go-back {
  width: 100%;
  display: flex;
  justify-content: center;
}

.go-back a {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}